<div class="width-100">
    <div fxFlex="column" fxLayoutAlign="start start">
        <div class="address p-24" fxFlex="100">
            <div fxLayout="column" class="address-info">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
                    <div fxLayout="row" fxFlex="60" fxLayoutAlign="start center" fxLayoutGap="24px">
                        <div class="address-info__photo-container" fxFlex="400px">
                            <img class="address-info__photo-config" src="assets/images/selise-image.jpg">
                        </div>
                        <div fxLayout="column" class="address-info__details" fxFlex>
                            <span class="mat-headline mt-10">
                                BG Ingenieurs Conseils AG
                            </span>
                            <span class="address-info__subtitle">
                                <i class="fa-sharp fa-solid fa-location-dot"></i> <span class="ml-8 body-1">Winterfeldweg
                                    52,
                                    3018 BernSwitzerland</span>
                            </span>
                            <span class="mt-10 address-info__subtitle">
                                <i class="fa-regular fa-calendar-minus"></i> <span
                                    class="ml-8 body-1">29.06.2021-29.06.2022</span>
                            </span>
                        </div>
                    </div>
                    <div fxFlex="40" fxLayoutAlign="end">
                        <div class="address-info__map-container" fxFlex="450px" style="height: 240px;overflow: hidden;">
                            <img class="address-info__map" src="assets/images/selise-address-map.png">
                        </div>
                    </div>
                                  
                </div>
               
            </div>

        </div>
    </div>

</div>
<div class="width-100">
    <div fxLayout="row">
        <div class="zone-schedule" fxFlex="100">
            <div class="zone-schedule__main-card p-24">
                <div class="zone-schedule__title" fxLayoutAlign="start center">
                    <span class="mat-title">Unloading Zone Scheduling </span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20">
                    <div class="zone-schedule__selected-card" fxFlex="22">
                        <div>
                            <div fxLayout="row" class="zone-schedule__selected-content p-20"
                                fxLayoutAlign="space-between start">

                                <div fxLayout="column" fxFlex="100">
                                    <div fxLayout="column">
                                        <span class="mat-title color-olive">Crane 2 - 18 mt</span>
                                        <span class="mat-subheading-2 mt-10"><i class="fa-regular fa-clock"></i> <span
                                                class="ml-8"> 30 Minutes time slot</span></span>
                                        <span>
                                            <i class="fa-regular fa-calendar-minus"></i> <span
                                                class="ml-10 body-1">20.02.2021 - 30.06.2023</span>
                                        </span>
                                    </div>
                                    <div fxFlex="100">
                                        <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-20">
                                            <span>Monday</span>
                                            <span>7:00-12:00 | 13:00-17:00</span>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-20">
                                            <span>Tuesday</span>
                                            <span>7:00-12:00 | 13:00-17:00</span>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-20">
                                            <span>Wednesday</span>
                                            <span>7:00-12:00 | 13:00-17:00</span>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-20">
                                            <span>Thursday</span>
                                            <span>7:00-12:00 | 13:00-17:00</span>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-20">
                                            <span>Friday</span>
                                            <span>7:00-12:00 | 13:00-17:00</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- <div>
                                    <i class="fa-solid fa-pen fa-pen_color-olive"></i>
                                </div> -->
                            </div>
                        </div>

                    </div>

                    <div class="zone-schedule__normal-card"  fxFlex="20">
                        <div fxLayout="row" class="zone-schedule__selected-content p-20"
                            fxLayoutAlign="space-between start">

                            <div fxLayout="column" class="width-100">
                                <div fxLayout="column">
                                    <span class="mat-title">Crane 2 - 18 mt</span>
                                    <span class="mat-subheading-2 mt-10"><i class="fa-regular fa-clock"></i> <span
                                            class="ml-8"> 30 Minutes time slot</span></span>
                                    <span>
                                        <i class="fa-regular fa-calendar-minus"></i> <span
                                            class="ml-10 body-1">20.02.2021 - 30.06.2023</span>
                                    </span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-20">
                                    <span>Monday</span>
                                    <span>7:00-12:00 | 13:00-17:00</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-20">
                                    <span>Wednesday</span>
                                    <span>7:00-12:00 | 13:00-17:00</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-20">
                                    <span>Thursday</span>
                                    <span>7:00-12:00 | 13:00-17:00</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-20">
                                    <span>Friday</span>
                                    <span>7:00-12:00 | 13:00-17:00</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="zone-schedule__add-card" fxFlex="20"  fxLayoutAlign="center center">
                        <div fxLayout="row" class="zone-schedule__add-content p-20">
                            <span class="color-olive mat-title">
                                <i class="fa-solid fa-circle-plus"></i> ADD NEW
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="width-100 mt-20">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="2px">
        <div class="truck-info p-24" fxFlex="47">
            <div class="truck-info__title" fxLayoutAlign="space-between center">
                <span class="mat-title">Truck Information</span>
                <mat-icon class="color-olive">more_vert</mat-icon>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="20px">
                <ng-container *ngFor="let truck of trucks">
                    <div [ngClass]="truck.cardClasses" fxFlex="20">
                        <span *ngIf="truck.isSelected" fxLayoutAlign="end">
                            <i class="fa-solid fa-pen fa-pen_color-olive ml-8"></i>
                        </span>
                        <div fxLayout="column" class="truck-info__content" fxLayoutAlign="space-between center"
                            [fxLayoutGap]="truck.isSelected?'10px':'20px'">
                            <i [ngClass]="truck.iconClasses"></i>
                            <span class="body-1">{{truck.name}}</span>
                            <span
                                class="mat-subtitle-1 mat-subtitle-1_bold mat-subtitle-1_light">{{truck.quantity}}</span>
                        </div>
                    </div>
                </ng-container>
                <div class="truck-info__add" fxFlex="20" fxLayoutAlign="center">
                    <div fxLayout="column" class="truck-info__content" fxLayoutAlign="center center"
                        fxLayoutGap="15px">                                             
                            <i class="fa-solid fa-circle-plus fa-circle-plus_md fa-circle-plus_color-olive" style="display: block;" (click)="openDialog()"></i>
                            <span class="mat-subheading-1 mat-subheading-1_bold color-olive" style="display: block;" (click)="addTrucks()">ADD NEW</span>                
                    </div>
                </div>               
            </div>
        </div>
        <div class="storage-info p-24" fxFlex="47">
            <div class="storage-info__title" fxLayoutAlign="space-between center">
                <span class="mat-title">Storage Information</span>
                <mat-icon class="color-olive">more_vert</mat-icon>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="stretch" fxLayoutGap="15">
                <div class="storage-info__add" fxFlex="22">
                    <div fxLayout="column" class="truck-info__content" fxLayoutAlign="space-between center"
                        fxLayoutGap="15px">
                        <span></span>
                        <i class="fa-solid fa-circle-plus fa-circle-plus_md fa-circle-plus_color-olive"></i>
                        <span class="mat-subheading-1 mat-subheading-1_bold color-olive">ADD NEW</span>
                    </div>
                </div>
                <div class="storage-info__message" fxLayout="column" fxLayoutAlign="center start">
                    <span class="mat-subheading-2 mat-subheading-2_font-message">Storage information is not added
                        yet!</span>
                </div>
            </div>
        </div>
        <div class="document p-24" fxFlex="47">
            <div class="document__title" fxLayoutAlign="start center">
                <span class="mat-title">Documents</span>
            </div>
            <div fxLayout="row">
                <div fxLayout="column" class="document__info" fxLayoutAlign="start" fxLayoutGap="10px">
                    <span class="document__item"><i class="fa-solid fa-file fa-file_document"></i>
                        <span class="ml-8"><a class="document__link" href="">Booking instructions for specific
                                conditions</a></span>
                    </span>
                    <span class="document__item"><i class="fa-solid fa-file fa-file_document"></i>
                        <span class="ml-8">
                            <a class="document__text-olive">
                                Shipment Report
                                <i class="fa-sharp fa-solid fa-download ml-8"></i>
                                <i class="fa-solid fa-pen ml-8"></i>
                            </a></span>
                    </span>
                    <span class="document__item"><i class="fa-solid fa-file fa-file_document"></i>
                        <span class="ml-8">
                            <a class="document__link" href="">Shipment document name</a>
                        </span>
                    </span>
                    <span class="document__item-add"><i class="fa-sharp fa-solid fa-file-circle-plus"></i>
                        <span class="ml-8">ADD DOCUMENTS</span>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="photo p-24" fxFlex="47">
            <div class="photo__title" fxLayoutAlign="start center">
                <span class="mat-title">Photos</span>
            </div>
            <div fxLayout="row wrap" class="photo__container" fxLayoutAlign="start stretch" fxLayoutGap="10">
                <div class="photo__card" fxFlex="15">
                    <img class="photo__img-config" fxFlex="100" src="assets/images/crane-1.jpg">
                </div>
                <div class="photo__card" fxFlex="15">
                    <img class="photo__img-config" fxFlex="100" src="assets/images/crane-2.jpg">
                </div>
                <div class="photo__card" fxFlex="15">
                    <img class="photo__img-config" fxFlex="100" src="assets/images/crane-3.jpg">
                </div>
                <div class="photo__card-add" fxFlex="15" fxLayoutAlign="center">
                    <div fxLayout="column" fxLayoutAlign="center center" class="photo__add">
                        <span class="color-olive body-1">
                            <i class="fa-solid fa-circle-plus fa-circle-plus_md"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div fxFlex="96" class="responsible-person p-24">
            <div class="responsible-person__title" fxLayoutAlign="start center">
                <span class="mat-title">Responsible Person</span>
            </div>
            <div fxLayout="row wrap" class="responsible-person__container" fxLayoutAlign="start start" fxLayoutGap="20px">
                <div class="responsible-person__card">
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
                        <img class="responsible-person__img" src="assets/images/person.png">
                        <div fxLayout="column" fxLayoutGap="2px">
                            <span class="mat-subheading-2">Max Mustermann</span>
                            <span class="body-1">+41 44 220 44 11</span>
                            <span class="body-1">max.musterman@sample.com</span>
                        </div>
                    </div>
                </div>

                <div class="responsible-person__card">
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
                        <img class="responsible-person__img" src="assets/images/person.png">
                        <div fxLayout="column" fxLayoutGap="2px">
                            <span class="mat-subheading-2">Veeti Seppanen</span>
                            <span class="body-1">+41 44 220 44 11</span>
                            <span class="body-1">veeti.steppanen@sample.com</span>
                        </div>
                    </div>
                </div>

                <div class="responsible-person__card">
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
                        <img class="responsible-person__img" src="assets/images/person.png">
                        <div fxLayout="column" fxLayoutGap="2px">
                            <span class="mat-subheading-2">Max Mustermann</span>
                            <span class="body-1">+41 44 220 44 11</span>
                            <span class="body-1">max.musterman@sample.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>