/* You can add global styles to this file, and also import other style files */

html,
body {    
    background-color: #dfd9d569;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ml-8 {
    margin-left: 8px;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}

.py-6{
    padding: 6px 0px;
}

.ml-2{
    margin-left:2px;
}

.ml-3{
    margin-left:3px;
}

.ml-10{
    margin-left: 10px;
}