<div style="width:100">
    <span class="mat-title ml-10"> Adding new Truck</span>
</div>
<form>
    <div fxLayout="row wrap mt-10" fxLayoutAlign="space-between">
        <div fxFlex="100" fxLayoutGap="20px">
           <mat-card fxFlex="20">
            <i class="fa-solid fa-truck fa-truck_lg fa-truck_color-normal"></i>
           </mat-card>
        </div>
        <mat-form-field appearance="legacy" floatLabel="always" fxFlex="40" class="mt-20">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" value="Bau06" required>           
          </mat-form-field>

          <mat-form-field appearance="legacy" fxFlex="40" class="mt-20">
            <mat-label>Legacy form field</mat-label>
            <input matInput placeholder="Placeholder">            
          </mat-form-field>

          <div fxFlex="30">
            <label>Pitch Capacity</label>            
          </div>
          
          <mat-form-field appearance="legacy" fxFlex="40" class="mt-20">
           
            <input matInput type="number">            
          </mat-form-field>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button mat-button>Cancel</button>
      <button mat-raised-button class="confirm-olive">Confirm</button>
    </div>
    
</form>


